%h1 Admin Login
%table{border: 2}
  %tr
    %th Name
    %th Description
    %th Price
    %th Quantity
    %th Config
  - @admin.each do |x|
    %tr
      %td= x['name']
      %td= x['description']
      %td= x['price']
      %td= x['quantity']
      %td= link_to('new', new_product_path)
%br/