%body
  .background-image-store
  %main
    .sidebar
      %img#sidebar-img{:src => "assets/pictures/sidebar.gif"}/
      %img.logohack{:src => "assets/pictures/hacklogo.svg"}/
      %menu
        .options
          %i.fa.fa-home{"aria-hidden" => "true"}
          = link_to "Home", "/stores/show", :class => "nuevoproduct"
        .options
          %a
          %i.fa.fa-shopping-bag{"aria-hidden" => "true"}
          = link_to "Tiendas", "/products/show", :class => "nuevoproduct"
        .options
          %i.fa.fa-search{"aria-hidden" => "true"}
          = link_to "New Product", new_product_path, :class => "nuevoproduct"
        .login
          %i.fa.fa-user-circle{"aria-hidden" => "true"}
    .product
      %form
%h1.titulo1 Hack Library
%form.button_to{:action => "/stores/1", :method => "post"}
  %input.escondido{:name => "_method", :value => "delete"}/
  %input.deleteate{"data-confirm" => "Are you sure?", :type => "submit", :value => "X"}/
%form.button_to{:action => "/stores/2", :method => "post"}
  %input.escondido{:name => "_method", :value => "delete"}/
  %input.deleteate2{"data-confirm" => "Are you sure?", :type => "submit", :value => "X"}/
%form.button_to{:action => "/stores/3", :method => "post"}
  %input.escondido{:name => "_method", :value => "delete"}/
  %input.deleteate3{"data-confirm" => "Are you sure?", :type => "submit", :value => "X"}/
%form.button_to{:action => "/stores/4", :method => "post"}
  %input.escondido{:name => "_method", :value => "delete"}/
  %input.deleteate4{"data-confirm" => "Are you sure?", :type => "submit", :value => "X"}/
%form.button_to{:action => "/stores/5", :method => "post"}
  %input.escondido{:name => "_method", :value => "delete"}/
  %input.deleteate5{"data-confirm" => "Are you sure?", :type => "submit", :value.pintate => "X"}/
%table.tablauno{border: 2}
  %tr
    %th Image
    %th Name
    %th Description
    %th Price
    %th Quantity
    %th Delete
  - @stores.each do |a|
    %tr
      %td
        =image_tag "#{a['image']}", :class => "arreglando"
      %td= a['name']
      %td= a['description']
      %td= a['price']
      %td= a['quantity']
      %tr
      %br/
= link_to('new', new_product_path)


