%body
  .background-image
  %span.textstyle
    EL mercado virtual de HACK
    %br/
    Gran variedad, pocos productos
  %img.logohack1{:src => "/assets/pictures/hacklogo.svg"}/
  .logomarket Market
  .btn1
    = link_to "API", api_v1_products_path, :class => "api"
  .btn2
    = link_to "MARKET", products_path, :class => "markettt"
  .login
    %i.fa.fa-user-circle{"aria-hidden" => "true"}
    = link_to "Login", stores_path, :class => "login1"

:css
  body, html{
      width: 100%;
      height: 100%;
      margin:0;
    }