%h1.supercute New Product
%form.beauty{:action => "#{products_path}", :method => "post"}
  %div
    %label{:for => "name"} Name:
    %input#name{:name => "name", :placeholder => "mamey", :type => "text"}
  %div
    %label{:for => "name"} Image:
    %input#name{:name => "image", :placeholder => "inserte url", :type => "text"}
  %div
    %label{:for => "name"} Description:
    %input#name{:name => "description", :placeholder => "Breve Descripcion", :type => "text"}
  %div
    %label{:for => "name"} Price:
    %input#name{:name => "price", :placeholder => "Inserte Precio", :type => "numeric"}
  %div
    %label{:for => "name"} Quantity:
    %input#name{:name => "quantity", :placeholder => "Inserte Cantidad ", :type => "numeric"}
  %div
    %label{:for => "store_id"}
    %input#ID{:name => "store_id",:value => "1", :hidden => "true"}
  .button
    %button.cutenes{:type => "submit"}
      %i.fa.fa-instagram.fa-lg{"aria-hidden" => "true"} Create Product
   
    
