%body
  .background-image-store
  %main
    .sidebar
      %img#sidebar-img{:src => "assets/pictures/sidebar.gif"}/
      %img.logohack{:src => "assets/pictures/hacklogo.svg"}/
      %menu
        .options
          %i.fa.fa-home{"aria-hidden" => "true"}
          = link_to "Home", "/stores/show", :class => "nuevoproduct"
        .options
          %a Tiendas
          %i.fa.fa-shopping-bag{"aria-hidden" => "true"}
        .options
          %i.fa.fa-search{"aria-hidden" => "true"}
          = link_to "New Product", new_product_path, :class => "nuevoproduct"
        .login
          %i.fa.fa-user-circle{"aria-hidden" => "true"}
    .product
      %form
%h1.titulo1 Products
%table.tablita{border: 2}
  %tr
    %th Category
    %th Store
  - @stores.each do |a|
    %tr
      %td= a['category']
      %td= a['store']
      %tr
      %br/
= link_to('login', stores_path)