<!DOCTYPE html>
<html>
  <head>
    <title>Proyect</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://designers.hubspot.com/hs-fs/hub/327485/file-2054199286-css/font-awesome.css"En Inglés rel="stylesheet">
    <script src="https://use.fontawesome.com/b63d569465.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
